{{$AllowPatchFeature := .AllowPatchFeature}}
{{if .HasQueryParameters}}
var (
	query_params_{{.Method.Service.GetName}}_{{.Method.GetName}}_{{.Index}} = gateway.QueryParameterParseOptions{
		Filter: {{.QueryParameterFilter}},
		{{- if .QueryParameterCustomization.Aliases }}
		Aliases: map[string]string{
		{{- range $queryParam := .QueryParameterCustomization.Aliases }}
		{{ $queryParam.Name | printf "%q" }}: {{ $queryParam.FieldPath.String | printf "%q" }},
		{{- end}}
		},
		{{- end }}
		{{- if .QueryParameterCustomization.DisableAutoDiscovery }}
		LimitToAliases: true,
		{{- end }}
	}
)
{{end}}
{{template "request-func-signature" .}} {
	var protoReq {{.Method.RequestType.GoType .Method.Service.File.GoPkg.Path}}
	var metadata gateway.ServerMetadata
{{if .Body}}
	{{- $isFieldMask := and $AllowPatchFeature (eq (.HTTPMethod) "PATCH") (.FieldMaskField) (not (eq "*" .GetBodyFieldPath)) }}
	{{- if $isFieldMask }}
	newReader, berr := iofactory.NewReader(req.Body)
	if berr != nil {
		return nil, metadata, status.Errorf(codes.InvalidArgument, "%v", berr)
	}
	{{- end}}
	{{- $protoReq := .Body.AssignableExprPrep "protoReq" .Method.Service.File.GoPkg.Path -}}
	{{- if ne "" $protoReq }}
	{{printf "%s" $protoReq }}
	{{- end}}
	{{- if not $isFieldMask }}
	if err := marshaler.NewDecoder(req.Body).Decode(&{{.Body.AssignableExpr "protoReq" .Method.Service.File.GoPkg.Path}}); err != nil && err != io.EOF  {
		return nil, metadata, status.Errorf(codes.InvalidArgument, "%v", err)
	}
	{{end}}
	{{- if $isFieldMask }}
	if err := marshaler.NewDecoder(newReader()).Decode(&{{.Body.AssignableExpr "protoReq" .Method.Service.File.GoPkg.Path}}); err != nil && err != io.EOF  {
		return nil, metadata, status.Errorf(codes.InvalidArgument, "%v", err)
	}
	if protoReq.{{.FieldMaskField}} == nil || len(protoReq.{{.FieldMaskField}}.GetPaths()) == 0 {
			if fieldMask, err := partialfieldmask.FieldMaskFromRequestBodyJSON(newReader(), protoReq.{{.GetBodyFieldStructName}}); err != nil {
				return nil, metadata, status.Errorf(codes.InvalidArgument, "%v", err)
			} else {
				protoReq.{{.FieldMaskField}} = fieldMask
			}
	}
	{{end}}
{{end}}
{{if .PathParameters}}
	var (
		val string
{{- if .HasEnumPathParam}}
		e int32
{{- end}}
{{- if .HasRepeatedEnumPathParam}}
		es []int32
{{- end}}
		err error
		_ = err
	)
	{{$binding := .}}
	{{range $param := .PathParameters}}
	{{$enum := $binding.LookupEnum $param}}
	val = pathParams.ByName({{$param | printf "%q"}})
	if val == "" {
		return nil, metadata, status.Errorf(codes.InvalidArgument, "missing parameter %s", {{$param | printf "%q"}})
	}
{{if $param.IsNestedProto3}}
	err = gateway.PopulateFieldFromPath(&protoReq, {{$param | printf "%q"}}, val)
	if err != nil {
		return nil, metadata, status.Errorf(codes.InvalidArgument, "type mismatch, parameter: %s, error: %v", {{$param | printf "%q"}}, err)
	}
	{{if $enum}}
		e{{if $param.IsRepeated}}s{{end}}, err = {{$param.ConvertFuncExpr}}(val{{if $param.IsRepeated}}, {{$binding.RepeatedPathParamSeparator.Separator | printf "%c" | printf "%q"}}{{end}}, {{$enum.GoType $param.Method.Service.File.GoPkg.Path | camelIdentifier}}_value)
		if err != nil {
			return nil, metadata, status.Errorf(codes.InvalidArgument, "could not parse path as enum value, parameter: %s, error: %v", {{$param | printf "%q"}}, err)
		}
	{{end}}
{{else if $enum}}
	e{{if $param.IsRepeated}}s{{end}}, err = {{$param.ConvertFuncExpr}}(val{{if $param.IsRepeated}}, {{$binding.RepeatedPathParamSeparator.Separator | printf "%c" | printf "%q"}}{{end}}, {{$enum.GoType $param.Method.Service.File.GoPkg.Path | camelIdentifier}}_value)
	if err != nil {
		return nil, metadata, status.Errorf(codes.InvalidArgument, "type mismatch, parameter: %s, error: %v", {{$param | printf "%q"}}, err)
	}
{{else}}
	{{- $protoReq := $param.AssignableExprPrep "protoReq" $binding.Method.Service.File.GoPkg.Path -}}
	{{- if ne "" $protoReq }}
	{{printf "%s" $protoReq }}
	{{- end}}
	{{$param.AssignableExpr "protoReq" $binding.Method.Service.File.GoPkg.Path}}, err = {{$param.ConvertFuncExpr}}(val{{if $param.IsRepeated}}, {{$binding.RepeatedPathParamSeparator.Separator | printf "%c" | printf "%q"}}{{end}})
	if err != nil {
		return nil, metadata, status.Errorf(codes.InvalidArgument, "type mismatch, parameter: %s, error: %v", {{$param | printf "%q"}}, err)
	}
{{end}}
{{if and $enum $param.IsRepeated}}
	s := make([]{{$enum.GoType $param.Method.Service.File.GoPkg.Path}}, len(es))
	for i, v := range es {
		s[i] = {{$enum.GoType $param.Method.Service.File.GoPkg.Path}}(v)
	}
	{{$param.AssignableExpr "protoReq" $binding.Method.Service.File.GoPkg.Path}} = s
{{else if $enum}}
	{{$param.AssignableExpr "protoReq" $binding.Method.Service.File.GoPkg.Path}} = {{$enum.GoType $param.Method.Service.File.GoPkg.Path | camelIdentifier}}(e)
{{end}}
	{{end}}
{{end}}
{{if .HasQueryParameters}}
	if err := req.ParseForm(); err != nil {
		return nil, metadata, status.Errorf(codes.InvalidArgument, "%v", err)
	}
	if err := mux.PopulateQueryParameters(&protoReq, req.Form, query_params_{{.Method.Service.GetName}}_{{.Method.GetName}}_{{.Index}}); err != nil {
		return nil, metadata, status.Errorf(codes.InvalidArgument, "%v", err)
	}
{{end}}
{{if .Method.GetServerStreaming}}
	stream, err := client.{{.Method.GetName}}(ctx, &protoReq)
	if err != nil {
		return nil, metadata, err
	}
	header, err := stream.Header()
	if err != nil {
		return nil, metadata, err
	}
	metadata.HeaderMD = header
	return stream, metadata, nil
{{else}}
	msg, err := client.{{.Method.GetName}}(ctx, &protoReq, grpc.Header(&metadata.HeaderMD), grpc.Trailer(&metadata.TrailerMD))
	return msg, metadata, err
{{end}}
}

{{if .NeedsWebsocket }}
{{template "websocket-func-signature" .}} {
	var protoReq {{.Method.RequestType.GoType .Method.Service.File.GoPkg.Path}}
{{if .PathParameters}}
	var (
		val string
{{- if .HasEnumPathParam}}
		e int32
{{- end}}
{{- if .HasRepeatedEnumPathParam}}
		es []int32
{{- end}}
		err error
		_ = err
	)
	{{$binding := .}}
	{{range $param := .PathParameters}}
	{{$enum := $binding.LookupEnum $param}}
	val = pathParams.ByName({{$param | printf "%q"}})
	if val == "" {
		// how to handle error here?
		// return nil, metadata, status.Errorf(codes.InvalidArgument, "missing parameter %s", {{$param | printf "%q"}})
		return
	}
{{if $param.IsNestedProto3}}
	err = gateway.PopulateFieldFromPath(&protoReq, {{$param | printf "%q"}}, val)
	if err != nil {
		// how to handle errors here?
		// return nil, metadata, status.Errorf(codes.InvalidArgument, "type mismatch, parameter: %s, error: %v", {{$param | printf "%q"}}, err)
		return
	}
	{{if $enum}}
		e{{if $param.IsRepeated}}s{{end}}, err = {{$param.ConvertFuncExpr}}(val{{if $param.IsRepeated}}, {{$binding.RepeatedPathParamSeparator.Separator | printf "%c" | printf "%q"}}{{end}}, {{$enum.GoType $param.Method.Service.File.GoPkg.Path | camelIdentifier}}_value)
		if err != nil {
			// how to handle errors here?
			// return nil, metadata, status.Errorf(codes.InvalidArgument, "could not parse path as enum value, parameter: %s, error: %v", {{$param | printf "%q"}}, err)
			return
		}
	{{end}}
{{else if $enum}}
	e{{if $param.IsRepeated}}s{{end}}, err = {{$param.ConvertFuncExpr}}(val{{if $param.IsRepeated}}, {{$binding.RepeatedPathParamSeparator.Separator | printf "%c" | printf "%q"}}{{end}}, {{$enum.GoType $param.Method.Service.File.GoPkg.Path | camelIdentifier}}_value)
	if err != nil {
		// how to handle errors here?
		// return nil, metadata, status.Errorf(codes.InvalidArgument, "type mismatch, parameter: %s, error: %v", {{$param | printf "%q"}}, err)
		return
	}
{{else}}
	{{- $protoReq := $param.AssignableExprPrep "protoReq" $binding.Method.Service.File.GoPkg.Path -}}
	{{- if ne "" $protoReq }}
	{{printf "%s" $protoReq }}
	{{- end}}
	{{$param.AssignableExpr "protoReq" $binding.Method.Service.File.GoPkg.Path}}, err = {{$param.ConvertFuncExpr}}(val{{if $param.IsRepeated}}, {{$binding.RepeatedPathParamSeparator.Separator | printf "%c" | printf "%q"}}{{end}})
	if err != nil {
		// how to handle errors here?
		// return nil, metadata, status.Errorf(codes.InvalidArgument, "type mismatch, parameter: %s, error: %v", {{$param | printf "%q"}}, err)
		return
	}
{{end}}
{{if and $enum $param.IsRepeated}}
	s := make([]{{$enum.GoType $param.Method.Service.File.GoPkg.Path}}, len(es))
	for i, v := range es {
		s[i] = {{$enum.GoType $param.Method.Service.File.GoPkg.Path}}(v)
	}
	{{$param.AssignableExpr "protoReq" $binding.Method.Service.File.GoPkg.Path}} = s
{{else if $enum}}
	{{$param.AssignableExpr "protoReq" $binding.Method.Service.File.GoPkg.Path}} = {{$enum.GoType $param.Method.Service.File.GoPkg.Path | camelIdentifier}}(e)
{{end}}
	{{end}}
{{end}}
{{if .HasQueryParameters}}
	if err := req.ParseForm(); err != nil {
		// how to handle errors here?
		// return nil, metadata, status.Errorf(codes.InvalidArgument, "%v", err)
		return
	}
	if err := mux.PopulateQueryParameters(&protoReq, req.Form, query_params_{{.Method.Service.GetName}}_{{.Method.GetName}}_{{.Index}}); err != nil {
		// how to handle errors here?
		// return nil, metadata, status.Errorf(codes.InvalidArgument, "%v", err)
		return
	}
{{end}}
	websocketConnection, err := mux.UpgradeToWebsocket(w, req)
	if err != nil {
		// how should we handle this?
		return
	}
	closeWebsocketConnection := sync.OnceFunc(func () {
		if err := websocketConnection.Close(); err != nil {
			grpclog.Infof("Failed to close websocket connection: %v", err)
		}
	})
	defer closeWebsocketConnection()
	requestData, err := websocketConnection.ReceiveMessage()
	if err == io.EOF {
		return
	}
	if err != nil {
		// how do we handle this error?
		grpclog.Infof("failed to receive message: %v", err)
		return
	}
	if err := inboundMarshaler.Unmarshal(requestData, &protoReq); err != nil {
		grpclog.Infof("Failed to decode request from websocket: %v", err)
		// how do we handle the error here?
		return
	}
	stream, err := client.{{.Method.GetName}}(ctx, &protoReq)
	if err != nil {
		// how do we handle error here?
		return
	}
	var protoRes {{.Method.ResponseType.GoType .Method.Service.File.GoPkg.Path}}
	go func() {
		defer closeWebsocketConnection()
		for {
			protoRes.Reset()
			err := stream.RecvMsg(&protoRes)
			if err == io.EOF {
				// anything else we should do here?
				break
			}
			if err != nil {
				// how to handle these errors?
				break
			}
			data, err := outboundMarshaler.Marshal(&protoRes)
			if err != nil {
				grpclog.Infof("Failed to marshal gRPC response: %v", err)
				// how to handle these errors?
				break
			}
			if err := websocketConnection.SendMessage(data); err != nil {
				grpclog.Infof("Failed to send gRPC response over websocket connection: %v", err)
				// how to handle these errors?
				break
			}
		}
	}()
	for {
		_, err := websocketConnection.ReceiveMessage()
		if err == io.EOF {
			// anything else we should do?
			break
		}
		if err != nil {
			grpclog.Infof("failed to receive message: %v", err)
			break
		}
	}
}
{{end}}
