{{if .Method.GetServerStreaming}}
{{else}}
func local_request_{{.Method.Service.GetName}}_{{.Method.GetName}}_{{.Index}}(ctx context.Context, marshaler gateway.Marshaler, server {{.Method.Service.InstanceName}}Server, req *http.Request, pathParams httprouter.Params) (proto.Message, runtime.ServerMetadata, error)
{{end}}
